### Outlier detection and removal using percentile

In [2]:
import pandas as pd

In [4]:
my_scores = pd.read_excel("test_scores.xlsx")

In [6]:
my_scores

  Unnamed: 0  test score (from 100)   percentage  percentile rank
0      mohan                      69        0.69            1.000
1      maria                      56        0.56            0.500
2      sakib                      45        0.45            0.250
3        tao                      32        0.32            0.125
4      virat                      27        0.27            0.000
5     khusbu                      65        0.65            0.750
6     dmitry                      61        0.61            0.625
7     selena                      66        0.66            0.875
8       john                      45        0.45            0.250