In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df1 = pd.read_csv('bengaluru_house_prices.csv')
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df1.shape

(13320, 9)

In [5]:
df1.groupby("area_type")['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [6]:
df2 = df1.drop(['area_type','society','total_sqft','availability'],axis = 'columns')

In [7]:
df2.head()

                   location       size  bath  balcony   price
0  Electronic City Phase II      2 BHK   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom   5.0      3.0  120.00
2               Uttarahalli      3 BHK   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK   3.0      1.0   95.00
4                  Kothanur      2 BHK   2.0      1.0   51.00

In [8]:
df2.isnull().sum()

location      1
size         16
bath         73
balcony     609
price         0
dtype: int64

In [9]:
df3 = df2.dropna()
df3.isnull().sum()

location    0
size        0
bath        0
balcony     0
price       0
dtype: int64